
BarangayIT-v2/

\.idea/php\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

\.idea/
images/Kyoukai-no-Kanata-image-kyoukai-no-kanata-36228548-1280-720 - Copy.jpg
images/vlcsnap-2018-01-12-20h15m35s359.png
