  /*body {
    margin-top: 100px;
    text-align: none;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  }*/

  #wrapthis {
    width: auto; 
    /*margin: 0 auto;*/
    /*margin: auto;*/
    margin-left: 700px;
  }

  #external-events {
    /*float: left;*/
    float: left;
    display:inline-block; 
    width: 300px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
    margin-left: 400px;
  }

  #external-events h4 {
    font-size: 20px;
    margin-top: 0;
    padding-top: 1em;
  }

  #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
  }

  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }

  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }

  #calendar {
    float: right;
    width:500px;
    margin-right: 100px;
  }
